body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #d4e4c5;
  color: #141414;
}


h1, h2, h3 {
  color: #013220;
  text-align: left;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 15px;
  text-align: left;
}


img {
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.1);
}


div.moitier { 
  float: left;	
  width: 45%;		
  text-align: left;


}

div.tiers {
  float: left;		
  width: 20%;		
  text-align: left;
  font-size: 10px; 

}

div.entier { 
  text-align: center;
  float: left;		
  width: 99%;		
  background-color: #ffffff;
}

.center{
  text-align: center;
  display: center;
}
