body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4e7f9f1;
  
}


h1, h2, h3 {
  text-align: left;
}

h1{
  color: rgb(128, 73, 101);
}

h2{
  color: rgb(117, 77, 118);
}

h3{
  color: #333333;
}
p {
  margin-bottom: 15px;
  text-align: left;
}


img {
  border-radius: 10px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


div.moitier { 
  margin: 2%;
  padding: 5%;
  float: left;	
  width: 45%;		
  text-align: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(253, 230, 249);
}

div.tier {
  margin: 2%;
  padding: 5%;
  float: left;		
  width: 27%;		
  text-align: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(235, 244, 219);
}

div.header{
  margin: 2%;
  padding: 5%;
  text-align: center;
  display: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: antiquewhite;
}