/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: row;
}

/* Sidebar Section Styles */
section.sidebar {
    width: 30%;
    background-color: #ffc0cb; /* Pink background */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

/* Main Content Styles */
section.main-content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #444;
    text-align: left;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    color: #222;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

h3 {
    font-size: 1.2em;
    color: #666;
}

p {
    margin-bottom: 15px;
}

ul, ol {
    margin: 0 0 15px 20px;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Image Styles */
img {
    border-radius: 10px;
    display: block;
    margin: 0 auto 15px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
h1:first-of-type {
    text-align: center;
    margin-top: 20px;
}

/* Lists and Formatting */
ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 8px;
}





